.theme{
    background: var(--secondary-color);
    border: none;
    border-radius: 5px;
    padding: 5px;
    max-height: 40px;
    cursor: pointer;
}

.theme:active{
    box-shadow: 0 0 1px 1px var(--secondary-color);
}

@media (max-width: 576px) {
    .theme{
        position: absolute;
        top: 24px;
        right: 24px;
    }
  }