.searchBar{
    display: flex;
    align-items: center;
    background-color: transparent;
    border: 1px solid var(--secondary-color);
    padding: 0 10px;
    border-radius: 5px;
    max-width: 590px;
    width: 70%;
}

.searchBar:hover, .searchBar:focus{
    outline:transparent ;
    box-shadow: 0 0 1px 1px var(--secondary-color);
}

.searchBar input{
    border: none;
    outline: none;
    flex: 1;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    color: var(--secondary-color);
    background-color: transparent;
    font-family: "Inter", system-ui;
}

.searchBar input:focus{
    outline: none;
    box-shadow: none;
}

.searchBar input::placeholder{
    color: var(--gray-300);
}

.searchBar button{
    background: transparent;
}

.iconSearch{
    font-size: 30px;
    border: none;
    background: var(--primary-color); 
    color: var(--secondary-color);
}


@media (max-width: 576px) {
    .searchBar input{
        width: 60%;
    }

}

@media (max-width: 768px) {
    .searchBar input{
        width: 50%;
    }
}
