:root{
  --main-color: #F7F7F7;
  --text-color: #252525;
  --opaque-text:  rgb(37, 37, 37, 0.5);
}

.dark{
  --main-color: #252525;
  --text-color: #F7F7F7;
  --opaque-text: rgb(255, 255, 255,0.5);
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button, select{
  border: none;
  outline: none;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
